*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

.contenedor{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
	padding: 5px;
    justify-items: center;
    text-align: center;
}

.imgPelicula .poster{
    width: 400px;
    border-radius: 13px;
}

.imgPelicula h3{
    font-size: 26px;
    text-transform: uppercase;
    
}

.fecha{
    background-color: goldenrod;
    width: 90px;
    border-radius: 20px;

    position: relative;
    top: 40px;
    left: 290px;
}