*{padding: 0;margin: 0;box-sizing: border-box; font-family: 'Roboto', sans-serif;}
.contenedor-body{
    margin-bottom: 50px;
}
.nav-menu{
    background-color: goldenrod;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-menu ul{
    display: flex;
    margin-right: 120px;
    list-style: none;
}
.nav-menu ul li a{
    padding: 7px 15px;
}
.nav-menu .logo-img{
    margin-left: 120px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
    
}

.imgPelicula{
    text-align: center;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}
.imgPelicula .poster{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    /* box-shadow: 1px 2px 4px #000; */
}

.imgPelicula .titulo{
    text-size-adjust: 10%;
}

.imgPelicula span{
    position: absolute;
    transform: translate(80px, 10px);
    background-color: goldenrod;
    font-weight: 900;
    width: 50px;
    border-radius: 8px;
}
.popularity{
    /* background-color: goldenrod; */
    /* width: 200px; */
    border-radius: 8px;
    margin: auto;
}
.overview{
    position: absolute;
    width: 200px;
    height: 300px;
    top:0;
}

.paginacion{
    width: 100%;
    height: 40px;
    background-color: goldenrod;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 90px;
    height: 30px;
    margin: 7px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: 900;
}

.imgPelicula:first-child img{
    content: '';
    width: 200px;
    height: 300px;
    padding: 5px;
    border-radius: 0;
    border: 15px solid #000;
    border-image: url(96cf4cf98dca0bb28108f716d83e8b57.png) 30 repeat;
    
}

